<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Forgot Password</title>
</head>
<body>
  <div id="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <h1>Forgot Password</h1>
      </div>
    </nav>
    <br><br>
    {{error}}
    <br>
    <div id="panel1" class="centre">
      <form method="POST" action="/for_pwd">
        <br>
        <div class="form-group">
          <label for="Role">Role</label>
          <select class="form-select" aria-label="Default select example" name="Role">
            <option selected>Choose your role</option>
            <option value="1">Admin</option>
            <option value="2">Influencer</option>
            <option value="3">Sponser</option>
          </select>
        <br>
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
          <small id="userHelp" class="form-text text-muted">Enter your username above</small>
        <br>
          <label for="npwd-1">New Password</label>
          <input type="password" class="form-control" id="password" name="npwd-1" placeholder="New Password">
        <br>
          <label for="npwd-2">Re-enter Password</label>
          <input type="password" class="form-control" id="password" name="npwd-2" placeholder="New Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        remember pwd now?<a href="/">back</a>
      </form>
    </div>
  </div>
</body>
</html>