<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registration-S</title>
</head>
<body>
    <div id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <h1>Sponsor Registration</h1>
            </div>
        </nav>
        <div id="panel1">
            <form class="centre" method="POST" action="/sponsor">
                <div class="mb-3">
                  <label for="cname">Company name</label>
                  <input type="text" class="form-control" id="cname" name="cname">
                </div>
                <div class="mb-3">
                  <label for="ind">Industry</label>
                  <input type="text" class="form-control" id="ind" name="ind">
                </div>
                <div class="mb-3">
                  <label for="bud">Budget</label>
                  <input type="text" class="form-control" id="bud" name="bud">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                  <label for="pwd">Password</label>
                  <input type="password" class="form-control" id="pwd"  name="pwd" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                already have an account?<a href="/">login</a>
              </form>
              <br>{{msg}}
        </div>
    </div>
</body>
</html>