<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>A-Dashboard</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg dark_t">
      <div class="container-fluid">
        <h2>Admin Dashboard</h2>
        <div class="d-flex">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/ad_prof/{{user}}/{{pwd}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('a_users', usr=user, pwd=pwd) }}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Campaign</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ad_stat/{{ user }}/{{ pwd }}">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="dark_t">
      <div id="container1" class="container-fluid">
        <ul>
            {% if ucamp %}
            {% for key, value in ucamp.items() %}
                <li class="box">
                  <span class="l-txt">{{ value.0 }} | {{ value.5 }} | Progress:{{ value.6 }}</span>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewModalCenter{{ loop.index }}">View</button>
                  <div class="modal fade" id="viewModalCenter{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true" style="color: black;">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">{{ value.0 }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Influencer:{{ value.5 }}</p>
                          <p>{{ value.1 }}</p>
                          <p>{{ value.7 }} to {{ value.8 }}</p>
                          {% if value.4.items() %}
                            <table>
                              <tr>
                                <th>id</th>
                                <th>tasks</th>
                                <th>payment</th>
                                <th>status</th>
                              </tr>
                              {% for kreq, kval in value.4.items() %}
                                <tr>
                                  <td>{{ kreq }}</td>
                                  <td>{{ kval.0 }}</td>
                                  <td>{{ kval.1 }}</td>
                                  <td>{{ kval.2 }}</td>
                                </tr>
                              {% endfor %}
                            </table>
                          {% else %}
                            <p>No ads</p>
                          {% endif %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <form method="POST" action="/ad_camp/{{ user }}/{{ pwd }}">
                        <input type="text" name="fkey" value="{{key}}" hidden>
                      <button type="submit" class="btn btn-primary">Flag</button>
                    </form>
                </li>
              <br />
            {% endfor %}
            {% else %}
            <h3>No unflagged campaigns</h3>
          {% endif %}
          <br><br>
          {% if fcamp %}
            {% for key, value in fcamp.items() %}
                <li class="box">
                  <span class="l-txt">{{ value.0 }} | {{ value.5 }} | Progress:{{ value.6 }}</span>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fviewModalCenter{{ loop.index }}">View</button>
                  <div class="modal fade" id="fviewModalCenter{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true" style="color: black;">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">{{ value.0 }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Influencer:{{ value.5 }}</p>
                          <p>{{ value.1 }}</p>
                          <p>{{ value.7 }} to {{ value.8 }}</p>
                          {% if value.4.items() %}
                            <table>
                              <tr>
                                <th>id</th>
                                <th>tasks</th>
                                <th>payment</th>
                                <th>status</th>
                              </tr>
                              {% for kreq, kval in value.4.items() %}
                                <tr>
                                  <td>{{ kreq }}</td>
                                  <td>{{ kval.0 }}</td>
                                  <td>{{ kval.1 }}</td>
                                  <td>{{ kval.2 }}</td>
                                </tr>
                              {% endfor %}
                            </table>
                          {% else %}
                            <p>No ads</p>
                          {% endif %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <form method="POST" action="/ad_camp/{{ user }}/{{ pwd }}">
                        <input type="text" name="ukey" value="{{key}}" hidden>
                      <button type="submit" class="btn btn-primary">Unflag</button>
                    </form>
                </li>
              <br />
            {% endfor %}
        {% else %}
        <h3>No flagged Campaigns</h3>
          {% endif %}
        </ul>
      </div>
    </div>
  </body>
</html>
